<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.threemenstudio.vampire">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/applogo"
        android:name="com.threemenstudio.VTMApplication"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.threemenstudio.activities.MainPage"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.threemenstudio.activities.CreateCharacterPlayerInfo"
            android:label="@string/title_activity_create_character"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.threemenstudio.activities.CreateCharacterAttributes"
            android:label="@string/title_activity_create_character_attributes"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.threemenstudio.activities.CreateCharacterAbilities"
            android:label="@string/title_activity_create_character_abilities"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.threemenstudio.activities.CreateCharacterAbilities2"
            android:label="@string/title_activity_create_character_abilities2"
            android:parentActivityName="com.threemenstudio.activities.CreateCharacterAbilities"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.threemenstudio.activities.CreateCharacterAbilities" />
        </activity>
        <activity
            android:name="com.threemenstudio.activities.CreateCharacterAbilities3"
            android:label="@string/title_activity_create_character_abilities3"
            android:parentActivityName="com.threemenstudio.activities.CreateCharacterAbilities2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.threemenstudio.activities.CreateCharacterAbilities2" />
        </activity>
        <activity
            android:name="com.threemenstudio.activities.CreateCharacterAdvantages"
            android:label="@string/title_activity_create_character_advantages"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.threemenstudio.activities.Clans"
            android:label="@string/title_activity_clans"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.threemenstudio.activities.ClanInfo"
            android:label="@string/title_activity_clan_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.threemenstudio.activities.Disciplines"
            android:label="@string/title_activity_disciplines"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.threemenstudio.activities.DisciplineInfo"
            android:label="@string/title_activity_discipline_info"
            android:theme="@style/Disciplines.NoActionBar" />
        <activity
            android:name="com.threemenstudio.activities.DisciplineAbilities"
            android:label="@string/title_activity_discipline_abilities"
            android:theme="@style/Abilities.NoActionBar" />
        <activity
            android:name="com.threemenstudio.activities.DisciplinePaths"
            android:label="@string/title_activity_discipline_paths"
            android:theme="@style/Paths.NoActionBar" />
        <activity
            android:name="com.threemenstudio.activities.PathInfo"
            android:label="@string/title_activity_path_info"
            android:theme="@style/Paths.NoActionBar" />
        <activity
            android:name="com.threemenstudio.activities.SetiteSorceryPaths"
            android:label="@string/title_activity_setite_sorcery"
            android:theme="@style/Paths.NoActionBar" />
        <activity
            android:name="com.threemenstudio.activities.DisciplineRituals"
            android:label="@string/title_activity_discipline_rituals2"
            android:theme="@style/Rituals.NoActionBar" />
        <activity
            android:name="com.threemenstudio.activities.SetiteSorceryRituals"
            android:label="@string/title_activity_setite_sorcery_rituals"
            android:theme="@style/Rituals.NoActionBar"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="93ce924589821a780d01be57b557960e40fe04b5"
            />
    </application>

</manifest>
